<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Easy Estimate</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/alertify.core.css">
	<link rel="stylesheet" href="/css/alertify.default.css">
	<script type="text/javascript" src="/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/underscore-min.js"></script>
	<script type="text/javascript" src="/lib/socket.io.min.js"></script>

</head>
<body>