<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner" style="border-color:#aaa;">
  <div style="padding:0 15px;">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="color:#08c;">Easy Estimate</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/config" style="color:#08c;">config</a>
        </li>
        <li>
          <a href="/about" style="color:#08c;">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>