<% include ./_head %>
<% include ./_nav %>

<div style="padding-top:50px;">
	<div class="jumbotron">
		  <div class="container text-center">
	        <h1><i class='glyphicon glyphicon-comment'></i> 敏捷估算扑克</h1>
	        <hr>
	        <p>使用扑克牌的方法， 促进团队成员间的交流，让大家共享、了解更多的信息。</p>
	        	<h2>规则</h2>
	        <p>
	        	当估算值差距大于可接受范围，估算数值大的人和估算数值小的人要各自陈述自己的意见
	        </p>
	        <hr>
	        <p><a class="btn btn-primary btn-lg" role="button" href="/host">进入估算房间</a></p>
	      </div>
	</div>
</div>
 
<% include ./_foot %>
