<% include ./_head %>
<div ng-controller="RoomCtrl">
<div class="bg-modal" id="change-name-modal" style="display:none;">
  <div style="margin-top:-85px;position:absolute;top:50%;left:0;width:100%;">
   <div style="max-width:280px;margin:0 auto;">
        <h1 class="text-center" style="color:#08C">设置昵称</h1>
        <form role="form text-center" style="padding:20px;">
            <div class="form-group">
              <input type="text" id="name" class="form-control" ng-model="name" placeholder="昵称">
            </div>
            <button type="button" ng-hide="join" ng-click="joinRoom()" class="btn btn-primary btn-block">加入</button>
            <button type="button" ng-show="join" ng-click="changeName()"  class="btn btn-primary btn-block">确定</button>
            <button type="button" ng-click="hideModel();" class="btn btn-default btn-block">取消</button>
       </form>
    </div>
  </div>
</div>
<div class="container">
  <style type="text/css">
  .btn-estimate td{
    text-align:center;
  }
  .estimate-container{
    max-width:320px;
    margin:0 auto;
  }
    .btn-estimate .btn{
      height:70px;
      border-radius:70px;
      width:70px;
      margin:5px 0px;
      font-size:24px;
      color:#08c;
      border-color:#08C;
    }
    .btn-estimate .btn.active{
      background-color: #08C;
      color:#fff;
    }
    html,body{
      height:100%;
    }
  </style>
  <div class="estimate-container" ng-show="ready">
  <div style="margin-top:10px;">
    <div >
    <span class="label pull-right" style="font-weight:normal;font-size:14px;leight-height:30px;padding:10px;" ng-class="{'label-success' : point_0 >= 0 && point_0!=='' ,'label-default' : point_0 < 0 || point_0 ==''}">
      {{ point_0 !=='' ? '估算 ：':'未提交'}} {{ point_0<0?'弃权':(point_0 + point_1) }}
    </span>
    <button ng-click="showModel();" class="btn btn-primary">
      {{ name }} <i class="glyphicon glyphicon-pencil"></i> 
    </button>
    </div>
  </div>
    <table class="btn-estimate" style="width:100%;">
      <tr>
        <td width="33%">
      <button class="btn btn-default" ng-class="{active : point_0 === 1}" ng-click="setPoint0(1)" >1</button>
      </td>
        <td width="33%">
      <button class="btn btn-default" ng-class="{active : point_0 === 2}" ng-click="setPoint0(2)" >2</button>
      </td>
        <td width="33%">
      <button class="btn btn-default" ng-class="{active : point_0 === 3}" ng-click="setPoint0(3)" >3</button>
      </td>
      </tr>
      <tr>
        <td>
      <button class="btn btn-default" ng-class="{active : point_0 === 4}" ng-click="setPoint0(4)">4</button>
      </td>
        <td>
      <button class="btn btn-default" ng-class="{active : point_0 === 5}" ng-click="setPoint0(5)" >5</button>
      </td>
        <td>
      <button class="btn btn-default" ng-class="{active : point_0 === 6}"  ng-click="setPoint0(6)"  >6</button>
      </td>
      </tr>
      <tr>
        <td>
      <button class="btn btn-default" ng-class="{active : point_0 === 7}" ng-click="setPoint0(7)">7</button>
      </td>
        <td>
      <button class="btn btn-default " ng-class="{active : point_0 === 8}" ng-click="setPoint0(8)">8</button>
      </td>
        <td>
      <button class="btn btn-default " ng-class="{active : point_0 === 9}" ng-click="setPoint0(9)">9</button>
      </td>
      </tr>
      <tr>
        <td>
      <button class="btn btn-default " ng-class="{active : point_0 === -1}" ng-click="setPoint0(-1)" >弃权</button>
      </td>
        <td>
      <button class="btn btn-default " ng-class="{active : point_0 === 0}" ng-click="setPoint0(0)">0</button>
      </td>
        <td>
      <button class="btn btn-default " ng-class="{active : point_1 === 0.5}" ng-click="togglePoint1();" >0.5</button>
      </td>
      </tr>
    </table>

  </div>

</div>
</div>
<% include ./_foot %>
