<% include ./_head %>
<% include ./_nav %>

<div style="padding-top:50px;">
	<div class="jumbotron">
		  <div class="container text-center">
	        <h1> 404</h1>
	        <h2>房间不存在</h2>
	      </div>
	</div>
</div>
 
<% include ./_foot %>
